/* Define custom variables using :root selector */
:root {
  --brand-color: #edd0e2;
  --brand-color-lighter: #f6e4eb;
  --brand-color-light: #f0d2df;
  --brand-color-darker: #d5b5c1;
  --brand-color-dark: #c19ea9;
  
  --text-color: #333;
  --link-color: #b6007a;
  --link-color-hover: #8f005a;
  --button-color: #b6007a;
  --button-hover-color: #8f005a;
  --btn-bg-color: var(--button-color);
  --btn-hover-bg-color: var(--button-hover-color);
  --btn-text-color: #fff;
  --btn-hover-text-color: #fff;
  --btn-border-color: transparent;
  --btn-border-hover-color: transparent;
}

*{
  padding:0;
  border:0;
  box-sizing: border-box;
}
/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--brand-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: var(--brand-color);
  padding: 20px;
  width:100%;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-link img {
  height: 100px;
  margin-right: 20px;
  border-radius: 34px 0 34px 0;
}

nav {
  margin-left: 20px;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: var(--text-color);
}

nav a:hover {
  color: var(--link-color-hover);
}

/* Hero section styles */
.hero-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: calc(100vh - 70px);
text-align: center;

}

.hero-section h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 20px;
  margin-bottom: 40px;

}

.btn {
  display: inline-block;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 10px 20px;
  border: 2px solid var(--btn-border-color);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
  border-color: var(--btn-border-hover-color);
  cursor: pointer;
}
